@font-face {
  font-family: "lm"; /* Project id 2712935 */
  src: url('iconfont.woff?t=1695094023073') format('woff');
}

.lm {
  font-family: "lm" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lm-icon-bulk-edit:before {
  content: "\e617";
}

.lm-icon-bulk-add:before {
  content: "\e738";
}

.lm-icon-select-all:before {
  content: "\e729";
}

.lm-icon-reverse-selection:before {
  content: "\e613";
}

.lm-icon-close:before {
  content: "\e699";
}

.lm-icon-refresh:before {
  content: "\e653";
}

.lm-icon-exit:before {
  content: "\e67b";
}

.lm-icon-role:before {
  content: "\e74a";
}

.lm-icon-mac:before {
  content: "\e949";
}

.lm-icon-router:before {
  content: "\e63f";
}

.lm-icon-system:before {
  content: "\e684";
}

.lm-icon-psd:before {
  content: "\e606";
}

.lm-icon-doc:before {
  content: "\e623";
}

.lm-icon-unrecognized:before {
  content: "\e650";
}

.lm-icon-users:before {
  content: "\e694";
}

.lm-icon-menu:before {
  content: "\e63b";
}

.lm-icon-ppt:before {
  content: "\e642";
}

.lm-icon-pdf:before {
  content: "\e645";
}

.lm-icon-video:before {
  content: "\e6ff";
}

.lm-icon-xlsx:before {
  content: "\e605";
}

.lm-icon-zip:before {
  content: "\e76e";
}

.lm-icon-deletes:before {
  content: "\e951";
}

.lm-icon-return-left:before {
  content: "\e60a";
}

.lm-icon-save:before {
  content: "\e60b";
}

.lm-icon-table:before {
  content: "\e60e";
}

.lm-icon-tab:before {
  content: "\e60f";
}

.lm-icon-tree-table:before {
  content: "\e610";
}

.lm-icon-eye-open:before {
  content: "\e611";
}

.lm-icon-tree:before {
  content: "\e612";
}

.lm-icon-plus:before {
  content: "\e602";
}

.lm-icon-edit:before {
  content: "\e603";
}

.lm-icon-delete:before {
  content: "\e6a4";
}

.lm-icon-verification-code:before {
  content: "\e604";
}

.lm-icon-user:before {
  content: "\e60d";
}

.lm-icon-eye:before {
  content: "\e6a7";
}

.lm-icon-eye-close:before {
  content: "\e6a8";
}

.lm-icon-password:before {
  content: "\e609";
}

.lm-icon-tags:before {
  content: "\e6fe";
}

.lm-icon-search:before {
  content: "\e7b3";
}

.lm-icon-list:before {
  content: "\e601";
}

.lm-icon-home:before {
  content: "\e607";
}

.lm-icon-warning:before {
  content: "\e8e5";
}

.lm-icon-top:before {
  content: "\e608";
}

.lm-icon-codepen:before {
  content: "\e884";
}

.lm-icon-github:before {
  content: "\e885";
}

.lm-icon-gitee:before {
  content: "\e60c";
}

.lm-icon-diannaoduan:before {
  content: "\e636";
}

.lm-icon-copy:before {
  content: "\e629";
}

.lm-icon-code:before {
  content: "\e66e";
}

.lm-icon-drop-up:before {
  content: "\e6f9";
}

.lm-icon-drop-left:before {
  content: "\e6fa";
}

.lm-icon-drop-right:before {
  content: "\e6fb";
}

.lm-icon-drop-down:before {
  content: "\e600";
}

.lm-icon-loading:before {
  content: "\e62e";
}

.lm-icon-dashboard:before {
  content: "\e6f8";
}

